{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./utils",
      },
    }],
  ],
  "comments": false,
}
